.ellipse {
  margin-top: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.28);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-notification-notice-icon {
  top: 6px;
  left: 12px;
}
