.tab-title {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 3px;
}

.tab-title-text {
  margin-left: 5px;
}

.unselected-color {
  color: var(--menu-color) !important;
}

.selected-color {
  color: var(--primary-color) !important;
}